
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

:root{

  /* Primary */

  --red: hsl(0, 100%, 67%);
  --yellow: hsl(39, 100%, 56%);
  --green: hsl(166, 100%, 37%);
  --blue: hsl(234, 85%, 45%);

  --light-red: hsl(0, 60%, 84%);
  --orange-yellow : hsl(40, 75%, 78%);
  --green-teal : hsl(166, 87%, 84%);
  --cobalt-blue: hsl(235, 87%, 85%);

  /* Gradients */

  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue : hsla(241, 72%, 46%, 0);

  /* Neutral */

  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

body{
 background-color: var(--pale-blue);
 font-family: "Hanken Grotesk", sans-serif;
  padding-inline: clamp(10rem, 10rem + 1vw, 30rem);
    padding-block: clamp(5rem, 5rem + 1vw, 15rem);
}

.layout{
  display:flex;
  justify-content: center;

}

.results{
  border-radius: 10px;
  background-color: var(--light-royal-blue);
  padding: clamp(1rem, 1rem + 1vw, 3rem);
  text-align: center;
  width: 30%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.summary{
  border-radius: 10px;
  background-color: var(--white);
  padding: clamp(1rem, 1rem + 1vw, 3rem);
  width: 30%;
}

.summary-section-title{
  color: black;
  font-weight: 700;
  font-size: clamp(0.8rem, 0.5rem + 0.6vw, 1.2rem);
  padding-bottom: clamp(1rem, 1rem + 0.5vw, 2rem);
  display:flex
}

.result-section-title{
  color: var(--light-lavender);
  font-weight: 700;
  font-size: clamp(0.8rem, 0.5rem + 0.6vw, 1.2rem);
  display:flex
}

.grade{
  font-size: clamp(1rem, 1rem + 1vw, 1.5rem);
  font-weight: 700;
  color: var(--white);
  margin: 0;
}

.description{
  color: var(--light-lavender);
  font-size: clamp(0.8rem, 0.5rem + 0.6vw, 1.2rem);
  line-height: 1.5;
}

.score-circle{
  background-color: var(--violet-blue);
  width : fit-content;
  aspect-ratio: 1/1;
  padding: clamp(1rem, 1rem + 1vw, 3rem);
  border-radius: 100%;
}

.score-title{
  color: var(--white);
  font-size: clamp(1.5rem, 1.5rem + 0.6vw, 2rem);
  font-weight: 700;
}

.score-subtitle{
  color: var(--light-lavender);
  font-size: clamp(0.6rem, 0.6rem + 0.6vw, 0.8rem);
}

.score-box{
  display:flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: clamp(0.3rem, 0.3rem + 0.5vw, 0.8rem);
  margin-bottom: clamp(0.5rem, 0.5rem + 0.5vw, 1rem);
  font-size: clamp(0.8rem, 0.5rem + 0.6vw, 1.2rem);
  font-weight: 700;
}

.score-box:nth-child(2){
  background-color: var(--light-red);
  color: var(--red);
}

.score-box:nth-child(3){
  background-color: var(--orange-yellow);
  color: var(--yellow);
}

.score-box:nth-child(4){
  background-color: var(--green-teal);
  color: var(--green);
}


.score-box:nth-child(5){
  background-color: var(--pale-blue);
  color: var(--blue);
}

.score-box, .title{
  display : flex
}

img{
  margin-right: 5px;
}

.button{
  background-color: var(--dark-gray-blue);
  border-radius: 20px;
  padding: clamp(0.2rem, 0.2rem + 0.5vw, 0.8rem);
  text-align: center;
  font-weight:700 ;
  color: var(--white);
}

