@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
:root{

  --primary-font: 'DM Sans', sans-serif;

  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);

  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
  
  margin-inline: clamp(1rem, 1vw + 1rem, 5rem);
  margin-block: clamp(0.5rem, 0.5vw + 0.5rem, 3rem);
  font-family: var(--primary-font);
}

*,
* ::before,
* ::after{
  box-sizing: border-box;
}

h1, p{
  color: inherit;
  text-wrap: balance; /* this reduces the unevenness of text wrapping in some browsers */
}

p{
  /* font-size: inherit; */
}

.container{
  display:grid; 
  gap:clamp(1rem, 1rem + 2vw, 1.5rem);
  margin-inline: auto;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five"  
    "six"
    "seven"
    "eight";

  @media (width > 960px){
    grid-template-areas:
    "seven one one four"
    "seven two three four"
    "eight two three four"
    "eight six five five"
}
}

.box{
  border-radius : 1rem;
  padding: clamp(1rem, 1rem + 1vw, 2rem);
  background-color: var(--purple-500);
  overflow: hidden;
  line-height: 1;
  /* max-width: 100%; */
  /* width: inherit; */
}

.box img{
  max-width: var(--card-image-width,100%);
}

.box:nth-child(1){
  background-color: var(--purple-500);
  color: white;
  display:grid;
  /* justify-items centers the tag across the parent grid, while text-align will center the text */
  justify-items: center; 
  text-align: center; 
  --card-image-width: 70%;
  font-size: clamp(1.5rem, 1rem + 0.5vw, 3rem);
  font-weight: 700;
  span{
    color: var(--yellow-500);
  }

  grid-area: one;

}

.box:nth-child(2){
  background-color: var(--yellow-100);
  color: black;
  font-size: clamp(1.5rem, 1rem + 1vw, 3rem);
  font-weight: 500;
  --card-image-width: 100%;

  img{
    filter : drop-shadow(2px 4px 5px rgba(0, 0, 0, 0.589));
  }

  grid-area: two;

  @media (width > 960px){
    --card-image-width: 120%;
  }
}

.box:nth-child(3){
  background-color: var(--yellow-500);
  color: black;
  font-size: clamp(1.5rem, 1rem + 1vw, 3rem);
  font-weight: 500;
  --card-image-width: 75%;

  img{
    margin-bottom: -50px;

    @media (width > 960px){
      margin-bottom: -120px;
      
    }
  }

  grid-area: three;
}

.box:nth-child(4){
  background-color: var(--purple-100);
  color: black;
  display:grid;
  --card-image-width: 75%;
  grid-area: four;

  h1{
    font-size: clamp(1.5rem, 1rem + 1vw, 3rem);
    font-weight: 500;
  }

  @media (width > 960px){
    justify-items: start;
    --card-image-width: 120%;
  }
}

.box:nth-child(5){
  background-color: var(--purple-500);
  color: white;
  display:grid;
  justify-items: center;
  --card-image-width: 60%;
  font-weight: 500;
  font-size: clamp(1.5rem, 1rem + 1.5vw, 3rem);


  grid-area: five;

   @media (width > 960px){
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    justify-content: start;
    align-items: center;
    --card-image-width: 80%;
    
  }
}

.box:nth-child(6){
  background-color: var(--yellow-100);
  color: black;
  --card-image-width: 60%;
  font-size: 500;
  
  grid-area: six;
  span{
    font-size: clamp(1.5rem, 1rem + 2vw, 3rem);
  }
}

.box:nth-child(7){
  background-color: var(--yellow-100);
  color: black;
  font-weight: 500;
  font-size: clamp(1.5rem, 1rem + 1vw, 3rem);
  --card-image-width: 60%;
  span{
    font-style: italic;
    color: var(--purple-500);
  }

  grid-area: seven;

  @media (width > 960px){
    display: grid;
    align-content: center;
  }
}

img{
  /* max-inline-size: 100%; */
}

.box:nth-child(8){
  background-color: var(--yellow-500);
  color: black;
  font-size: clamp(1.5rem, 1rem + 1vw, 3rem);
  font-weight: 500;

  --card-image-width: 80%;

  grid-area: eight;

  @media (width > 960px){
    --card-image-width: 85%;
    
  }
}